@tailwind base;
@tailwind components;
@tailwind utilities;


.active{
    color:black;
    font-weight: 600;
    
}

.backgroundCard{
    background-size: cover;
    -webkit-background-size:cover;
    background-repeat: no-repeat;
    filter: blur(2px);
    ;
    
}